<html>
    <head>
        {% if title %}
        <title>{{ title }} - Microblog</title>
        {% else %}
        <title>Welcome to Microblog</title>
        {% endif %}
    </head>

    <body>
        <div>Microblog: 
            <a href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Log In</a>
            {% else %}
            <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
            <a href="{{ url_for('logout') }}">Log Out</a>
            {% endif %}

        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        <!--The get_flashed_messages() function comes from Flask,
         and returns a list of all the messages
         that have been registered with flash() previously.-->
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        <!--An interesting property of these flashed messages is
        that once they are requested once through the get_flashed_messages function
        they are removed from the message list,
        so they appear only once after the flash() function is called.-->
        {% endif %}
        {% endwith %}
        {% block content %} {% endblock %}
    </body>
</html>